@use "@/styles/mixins/main" as *;

.cardContainer {
  display: block;
  overflow: hidden;
  height: 300px;
  width: 29%;
  margin: 15px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 8px 0 rgba(136, 144, 195, 0.22),
      0 8px 15px 0 rgba(37, 44, 97, 0.17);
  }

  &.disable {
    pointer-events: none;
    border: none;
    height: 100%;
  }

  & .imageStyle {
    width: 100% !important;
  }

  & .detailsStyle {
    padding: 10px;
    @include flex(flex-start, space-between, column, 8px);

    height: 40%;

    & .detailsHeaderStyle {
      width: 100%;

      @include flex(flex-start, space-between, row, 0);
      & .titleStyle {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        font-weight: 700;
        line-height: 1.3;
        color: #303030;
      }
      & .priceStyle {
        color: lightgray;

        span {
          color: green;
        }
      }
    }

    & .detailsContentStyle {
      text-align: justify;
      width: 100%;
      display: block;
      color: #636363;
      line-height: 1.6;
      margin-bottom: 5px;
    }

    & .locationStyle {
      @include flex(center, flex-start, row, 8px);
    }
  }
}
