@use "@/styles/mixins/main" as *;

.inputContainer {
  @include flex(center, center, column, 4px);
  align-self: stretch;
}

.formControl {
  @include styleInputContainer();
  color: #d1d1d1;

  @include respond(mobile) {
    width: 80%;
  }

  @include respond(mobile-small) {
    width: 80%;
  }

  &.disabled {
    background-color: #3f3f3f;

    > * {
      color: #909090;
    }
  }
}

.generalInput {
  @include inputStyle;

  &:read-only {
    color: #909090;
    cursor: pointer;
    pointer-events: none;
  }
}

.inputLabel {
  @include inputLabelStyle;
}

div.invalid {
  @include invalidInput;
}
