.error {
  background-color: white;
  border-radius: 7px;
  font-weight: bold;
  width: 333px;
  font-size: 13px;
  color: rgb(230, 60, 60);
  position: fixed;
  top: 10%;
  right: 20px;
  z-index: 999;
  padding: 10px;
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}
