@use "@/styles/variables" as *;

@mixin flexCenter($gap: 0, $direction: "row") {
  display: flex !important;
  @if $direction != "row" {
    flex-direction: $direction;
  }
  @if $gap != 0 {
    gap: $gap;
  }
  align-items: center;
  justify-content: center;
}

@mixin flex(
  $justifyContent: flex-start,
  $alignItems: flex-start,
  $direction: row,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  @if $direction != "row" {
    flex-direction: $direction;
  }

  flex-wrap: $wrap;
  @if $gap != 0 {
    gap: $gap;
  }
  align-items: $justifyContent;
  justify-content: $alignItems;
}

@mixin styleScroll() {
  scrollbar-width: thin;
  scrollbar-color: #323232, #909090;

  &::-webkit-scrollbar {
    width: 4px;
    height: 40px;
    background-color: #323232;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 2px;
  }
}

@mixin invalidInput {
  border-bottom: 1px solid #f65843;
}

@mixin stylePlaceholder($color: $placeholder-color, $size: $placeholder-size) {
  font-family: inherit;
  ::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
  }

  :-ms-input-placeholder {
    color: $color;
    font-size: $size;
  }

  ::placeholder {
    color: $color;
    font-size: $size;
  }
}

@mixin inputLabelStyle {
  line-height: 10px !important;
  display: inline-block;
  color: #909090;
  margin: 0;
  margin-bottom: 4px;
  // padding-top: 4px;
}

@mixin inputStyle {
  //style input
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  caret-color: #e1f5ff;
  font-size: $input-text-size;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #ebebeb;
  padding-left: 5px;
  flex: 1;
  &:focus-within,
  &:focus-visible {
    outline: none;
  }
  @include stylePlaceholder();
  @include respond(mobile-small) {
    width: 80% !important;
  }
  @include respond(mobile) {
    width: 80% !important;
  }
}

@mixin styleInputContainer($bg: #0e101d) {
  @include flex(center, center, null, 4px);
  height: $input-height;
  border-radius: 8px;
  background: $bg;
  transition: $border-transition;
  padding: 12px 8px;
  margin-top: 5px;
  margin-bottom: 5px;

  &:focus-within:not(.invalid) {
    border-bottom: 1px solid #00b5ff;
  }
}
// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if $breakpoint == mobile-small {
    @media (max-width: 500px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == small-desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @if $breakpoint == medium-desktop {
    @media (min-width: 1600px) {
      @content;
    }
  }

  @if $breakpoint == large-desktop {
    @media (min-width: 2048px) {
      @content;
    }
  }
}
